<!DOCTYPE html>
<html>
    <head>
        <% if (title.length > 0) { %>
            <title>Mixopedia - <%= title %></title>
        <% } else { %>
            <title>Mixopedia</title>
        <% } %>    
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
         <link href="https://fonts.googleapis.com/css?family=Kreon|Patua+One" rel="stylesheet">
         <link href="/stylesheets/main.css" rel="stylesheet">
    </head>
    <body>
        <div id="wrapper">
       
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-glass" id="nav-glass" aria-hidden="true"></span> Mixopedia</a>
                </div>
                    <ul class="nav navbar-nav navbar-right">
                        <% if(!currentUser) { %>
                            <li><a href="/login">Login</a></li>
                            <li><a href="/register">Sign Up</a></li>
                        <% } else { %>
                            <li><a href="/users/<%= currentUser._id %>">Signed in as <%= currentUser.username %></a></li>
                            <li><a href="/logout">Logout</a></li>
                        <% } %>
                    </ul>
            </div>
        </nav>
        
            <div class="container">
                <% if(error && error.length > 0) { %>
                    <div class="alert alert-danger" role="alert">
                        <%= error %>
                    </div>
                <% } %>
                <% if(success && success.length > 0) { %>
                    <div class="alert alert-success" role="alert">
                        <%= success %>
                    </div>
                <% } %>
            </div>
        <div id="content">    