<% title = cocktail.name %>
<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1><%= cocktail.name %></h1>
        </div>
        <div class="col-md-5">
            <div class="thumbnail">
                <img  class="img-responsive" src="<%= cocktail.image %>">
            </div>
        </div>
        <div class="col-md-4">
                <div>
                    <p><em>Submitted by <a href="/users/<%= cocktail.author.id %>"><%= cocktail.author.username %></a></em></p>
                    <% if(currentUser && cocktail.author.id.equals(currentUser._id)) { %>
                        <a class="btn btn-xs btn-warning" href="/cocktails/<%= cocktail._id %>/edit">Edit</a>
                        <form id="delete-form" action="/cocktails/<%= cocktail._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-xs btn-danger">Delete</button>
                        </form>
                    <% } %>
                    <p><b>Ingredients:</b></p>
                    <p><%= cocktail.ingredients %></p>
                    <p><b>Recipe:</b></p>
                    <p><%= cocktail.recipe %></p>
                </div>
        </div>        
        <div class="col-md-9">        
            <div class="well">
                <h4 id="comment-heading">Comments for <%= cocktail.name %></h4>
                <div class="text-right">
                    <a class="btn btn-sm btn-success" href="/cocktails/<%= cocktail._id %>/comments/new">Add Comment</a>
                </div>
                <hr>
                <% cocktail.comments.forEach(function(comment) { %>
                    <div class="row">
                        <div class="col-md-12">
                            <strong><%= comment.author.username %></strong>
                            <span class="pull-right">10 days ago</span>
                            <p>
                                <%= comment.text %>
                            </p>
                            <% if(currentUser && comment.author.id.equals(currentUser._id)) { %>
                                <a class="btn btn-xs btn-warning" href="/cocktails/<%= cocktail._id %>/comments/<%= comment._id %>/edit">Edit</a>
                                <form id="delete-form" action="/cocktails/<%= cocktail._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                     <button class="btn btn-xs btn-danger">Delete</a>
                                </form>
                            <% } %>    
                        </div>
                    </div>
                <% }) %>
            </div>
         </div> 
    </div>
</div>

<% include ../partials/footer %>

