<% include ../partials/header %>

    <div class="container">
    
        <h1><%= user.username %></h1>
        <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="<%= user.image %>">
            </div>
        </div>
        <div class="col-md-8">
            <strong>Bio:</strong>
            <p><%= user.bio %></p>
            
            <strong>Liquor Cabinet:</strong>
            <p><%= user.liquor %></p>
            
            <% if(currentUser && user._id.equals(currentUser._id)) { %>
                <a href="/users/<%= user._id %>/edit">Edit profile</a>
            <% } %>
        </div>    
    </div>
        <h4>Cocktails:</h4>
        
        <div class="row" style="display:flex; flex-wrap: wrap;">
        
            <% user.cocktails.forEach(function(cocktail) { %>
                <div class="col-md-3 col-sm-6">
                    <div class="thumbnail">
                        <a href="/cocktails/<%= cocktail._id %>">
                            <img src="<%= cocktail.image %>">
                        </a>
                        <div class="caption">
                            <h4><%= cocktail.name %></h4>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
        
    </div>    

<% include ../partials/footer %>        